$postMetaHeight: 24px;

body:not(.thread-page) .thread.hidden {
    opacity: 0.1;
    &:hover {
        opacity: 0.5;
    }
    .replies, .message, .thread-buttons, .thread-meta,
    .post-replies {
        display: none;
    }
}

.thread {
    padding: 0;
    overflow: hidden;
    color: $textColor;
    margin: 20px 0;
    background-color: $contentBgColor;
    $shadowColor: darken($bgColor, 5%);
    @if (lightness($bgColor) < 10) {
        $shadowColor: lighten($bgColor, 5%);
    }
    box-shadow: 0 0 10px 0 $shadowColor;

    $borderColor: darken($contentBgColor, 10%);
    @if (lightness($contentBgColor) < 50) {
        $borderColor: lighten($contentBgColor, 10%);
    }

    &:not(.expanded) {
        .e-less-replies {
            display: none;
        }
    }

    #post-form {
        display: block;
        box-shadow: none;
        margin: 10px 0 0 0;
        background-color: transparent;
        padding: 0;
        #label-subject, h3 {
            display: none
        }
    }
    > #post-form {
        padding: 5px;
    }

    > h3 {
        $height: 35px;
        margin-bottom: 0;
        font-weight: 400;
        height: $height;
        line-height: $height;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        $subjectBgColor: darken($contentBgColor, 5%);
        @if (lightness($contentBgColor) < 50) {
            $subjectBgColor: lighten($contentBgColor, 5%);
        }
        background-color: $subjectBgColor;
        transition: background-color $transition;
        display: flex;

        .subject {
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 10px
        }

        .icon {
            flex: 0 0 $height;
            width: $height;
            height: $height;
            line-height: $height;
            background-color: $contentBgColor;
            color: $textColor;
            text-align: center;
        }

        .notification-count {
            flex: 0 0 $height;
            margin-left: auto;
            min-width: $height;
            height: $height;
            padding: 0 5px;
            text-align: center;
            box-sizing: border-box;
            background-color: hsla(hue($highlightColor), saturation($highlightColor), lightness($highlightColor), 0.8);
            color: #fff;
        }
    }

    .thread-meta {
        font-size: 0.85em;
        @if (lightness($textColor) > 50) {
            color: darken($textColor, 40%);
        } @else {
            color: lighten($textColor, 40%);
        }
        margin: 5px 10px;
    }

    .replies-buttons,
    .thread-buttons {
        padding: 5px 10px 10px 10px;
        display: flex;
        * {
            margin-right: 10px
        }
    }

    hr {
        border: 0;
        $color: #000;
        @if (lightness($contentBgColor) < 50) {
            $color: #ffffff;
        }
        border-top: 1px solid $color;
        margin: 10px 0;
    }

    .reply {
        $bg: darken($contentBgColor, 2%);
        @if (lightness($contentBgColor) < 50) {
            $bg: lighten($contentBgColor, 2%);
        }
        background-color: $bg;
        transition: background-color $transition;

        overflow: hidden;
        margin-bottom: 5px;
        $borderColor: darken($contentBgColor, 10%);
        @if (lightness($contentBgColor) < 50) {
            $borderColor: lighten($contentBgColor, 10%);
        }
        &.own-post:not(:target) {
            $bgColor: darken($contentBgColor, 7%);
            @if (lightness($contentBgColor) < 50) {
                $bgColor: lighten($contentBgColor, 7%);
            }
            background-color: $bgColor;
        }
    }

    .post {
        padding: 10px;
        transition:
                color $transition,
                background-color $transition;

        &:target {
            $bgColor: $contentBgColor;
            @if (lightness($contentBgColor) > 95) {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor) - 3%);
            } @else if (lightness($contentBgColor) < 5) {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor) + 3%);
            } @else if (lightness($contentBgColor) < 15) {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor) - 2%);
            } @else {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor));
            }
            background-color: $bgColor;
            margin-top: -100px;
            border-top: 100px solid transparent;
            background-clip: padding-box;
        }

        .truncated {
            max-height: 500px;
        }
    }

    .message {
        margin: 5px 0 10px 0;
        overflow: hidden;
        word-wrap: break-word;
        will-change: contents;
    }

    .post-meta {
        display: flex;
        min-height: $postMetaHeight;
        align-items: center;
        @if (lightness($textColor) > 50) {
            color: darken($textColor, 40%);
        } @else {
            color: lighten($textColor, 40%);
        }
        .user-info, .post-info {
            display: inline-block;
            overflow: hidden;
        }
        .post-info {
            font-size: 0.85em;
            > * {
                margin-left: 5px;
            }
        }
        .username {
            color: $highlightColor;
            font-weight: 600;
        }
        .post-id {
            white-space: nowrap;
            @if (lightness($textColor) > 50) {
                color: darken($textColor, 40%);
            } @else {
                color: lighten($textColor, 40%);
            }
            &:hover {
                color: $linkHoverColor
            }
        }
    }

    .post-replies {
        font-size: 0.8em;
        $color: #777777;
        padding-top: 3px;
        border-top: 1px solid $borderColor;
        @if (lightness($contentBgColor) < 50) {
            $color: #999999;
        }
        color: $color;
        transition:
            color $transition,
            border-color $transition,
    }

    .quote {
        color: $quoteColor;
        &.blue {
            color: $blueQuoteColor;
        }
    }

    @import 'Posts/file';
}

.mod-menu-html {
    display: none;

    p {
        margin: 0 0 5px 0;
    }
}

.post-buttons {
    margin-left: auto;
    display: inline-flex;
    button {
        border: 0;
        padding: 0;
        margin-left: 5px;
        height: $postMetaHeight;
        width: $postMetaHeight;
        line-height: $postMetaHeight;
        cursor: pointer;
        font-size: 16px;
        vertical-align: middle;
        transition:
                color $transition,
                background-color $transition;

        $hoverBg: darken($contentBgColor, 10%);
        $bg: darken($contentBgColor, 5%);
        $color: #111111;
        @if (lightness($contentBgColor) < 50) {
            $hoverBg: lighten($contentBgColor, 10%);
            $bg: lighten($contentBgColor, 5%);
            $color: #eeeeee;
        }

        background-color: $bg;
        color: $color;
        &:hover {
            background-color: $hoverBg;
        }
    }
    .icon-bookmark-remove {
        color: $highlightColor;
    }
}
