#topbar {
    flex: 0 0 $topMenuHeight;
    display: flex;
    width: 100%;
    height: $topMenuHeight;
    line-height: $topMenuHeight;
    overflow: hidden;
    z-index: 1000;
    background-color: $sidebarColor;
    box-shadow: 0 0 10px 0 darken($sidebarColor, 10%);
    position: sticky;
    top: 0;

    button, a {
        font-size: 1em;
        cursor: pointer;
        color: $sidebarLinkColor;
        border: 0;
        padding: 0;
        background-color: transparent;
        height: $topMenuHeight;
        line-height: $topMenuHeight;
        position: relative;
        display: inline-block;
        &:hover {
            background-color: lighten($sidebarColor, 10%);
        }
    }

    .unread-count {
        position: absolute;
        top: 2px;
        right: 2px;
    }

    .buttons {
        margin-left: auto;
        font-size: 20px;
        > * {
            border-left: 1px solid lighten($sidebarColor, 10%);
            text-align: center;
            width: $topMenuHeight;
        }
    }

    #e-sidebar-toggle {
        padding-right: 10px;
    }

    @media (max-width: 799px) {
        #e-sidebar-toggle {
            display: inline-block;
        }
        #e-sidebar-hide {
            display: none;
        }
    }
}

@media (min-width: 800px) {
    body:not(.no-sidebar) #topbar #e-sidebar-toggle {
        display: none;
    }
}

#e-sidebar-hide {
    font-family: icomoon;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: darken($sidebarLinkColor, 20%);
    top: 50%;
    position: absolute;
    left: 0;
    display: block;
    font-size: 10px;
    width: $topMenuHeight;
    height: $topMenuHeight;
    line-height: $topMenuHeight;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 1px 5px 0;
    transform: translateY(-50%);
    &:before {
        content: "\e93c";
    }
    body:not(.no-sidebar) &:before {
        content: "\e93b";
    }
}

#e-sidebar-toggle {
    text-align: center;
    color: $sidebarLinkColor;
    padding-right: 10px;
    span {
        font-size: 20px;
        width: $topMenuHeight;
        line-height: $topMenuHeight;
        display: inline-block;
        vertical-align: top;
    }
}
